#container {
  background-color: aquamarine;
  width: auto;
  height: auto;
  padding: 20px;
  font-family: sans-serif;
}

#title,
#description {
  text-align: center;
  color: rgb(38, 44, 49);
}
.cont {
  background-color: rgb(1, 138, 92);
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
  margin: 30px auto;
  border-radius: 20px;
  font-family: cursive;
}
.box {
  margin: 30px auto;
  justify-content: flex-start;
}
span {
  color: beige;
}
input,
select {
  width: 100%;
  margin: 5px;
  height: 30px;
}
option {
  width: 100%;
  height: 30px;
}
input[type="radio"] {
  width: 20px;
}
p {
  color: beige;
}
input[type="checkbox"] {
  width: 20px;
}
textarea {
  width: 100%;
  height: auto;
}
button {
  width: 100%;
  height: 40px;
  background-color: chocolate;
  color: cornsilk;
}
